<section class="new_transtaction">
  <div class="header">
    <div class="justify-self-start"><%= link_to "<", category_exchanges_path(@category) %></div>
    <h2>Create New Transaction</h2>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  </div>
  <div class="center">
    <%= render "form", exchange: @exchange %>
  </div>
</section>
