@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,900&family=Parisienne&display=swap');
@import './variables';
@import './mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  position: relative;
  background-color: $gray_bg_color;
}

a { text-decoration: none; }

.alert,
.notice {
  position: absolute;
  top: 90px;
  width: 95%;
  left: 2.5%;
  right: 2.5%;
  text-align: center;
  font-size: 1.5rem;
  color: $green_color_btn;
}

.text_white {
  color: $white_col;
}

.bg_col_blue {
  background-color: $blue_color;

  &:hover { background-color: $dark_blue_color; }
}

.clickable { cursor: pointer; }

.total_txt {
  padding: 20px;
  background-color: $white_col;
  font-weight: bolder;
  font-size: 1.3rem;
}

.label {
  color: $black_col;
  font-size: 1.3rem;
}

button { border: none; }

.mb_40 { margin-bottom: 50px; }

.empty_data {
  margin: 80px auto;
  background-color: $white_col;
  padding: 20px;
  width: 95%;
  font-size: 1.6rem;
}

.red_col { color: #eb0625; }
