$green_color_btn: #5fb523;
$blue_color: #3778c2;
$dark_blue_color: #11427a;
$prim_gray_col: #434c54;
$sec_gray_col: #545c67;
$third_gray_col: #86898e;
$fourth_gray_col: #989da3;
$gray_bg_color: #e7e9ec;
$white_col: #fff;
$black_col: #0a0a0a;
$dancing_script_font: "Dancing Script", sans serif;
