<section class="p-5 flex flex-col h-screen">
  <div class="grow flex justify-center items-center">
    <h1 class="dark-grey text-4xl">Budget App</h1>
  </div>
  <div class="blue flex justify-center py-8 text-white hover:bg-blue-900"><%= link_to 'LOG IN', new_user_session_path %></div>
  <div class="flex justify-center py-8 grey hover:bg-slate-400 hover:text-white"><%= link_to 'SIGN UP', new_user_registration_path %></div>
</section>
