<section class="home">
  <div class="heading">
    <h1 class="title">Budget App</h1>
  </div>
  <div class="buttons">
    <%= link_to 'LOG IN', new_user_session_path, class: "login bg_col_blue text_white" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "sign_up text_white" %>
  </div>
</section>
